
<ion-header>
    <ion-toolbar>
      <ion-title>
        Como jugar al Suertodo?
      </ion-title>

    </ion-toolbar>
  </ion-header>
 
<ion-content>  
  <ion-item>
    <ul>

  <li> <p> Elegis un rango de numeros y adivinas un numero en ese rango. </p></li>
  
  <li> <p>  Si lo adivinas correctamente, ganas puntos igual a tu rango de numeros. </p></li>

  <li> <p> Si perdes, no pasa nada. Podes seguir jugando. </p></li>
    
  <li> <p> Tenes 3 intentos, despues es estos, se suman los puntos que acumulaste.</p></li>
    
  <li> <p> Si sos la persona con mas puntos en el dia, ganas [Cantidad de Pesos]. </p></li>

   </ul>
 </ion-item>


    <ion-button (click)="goToLogin()">Volver</ion-button>


</ion-content>

