
<ion-header>
    <ion-toolbar>
      <ion-title>
        {{'about.titulo_about' | translate}}
      </ion-title>
    </ion-toolbar>
  </ion-header>
 
<ion-content>  
  <ion-item>
    <ul>

  <li> <p>{{'about.lineauno' | translate}} </p></li>
  
  <li> <p> {{'about.lineados' | translate}} </p></li>

  <li> <p> {{'about.lineatres' | translate}} </p></li>
    
  <li> <p> {{'about.lineacuatro' | translate}}</p></li>
    
  <li> <p> {{'about.lineacinco' | translate}} </p></li>

   </ul>
 </ion-item>


    <ion-button (click)="goToLogin()">{{'about.volver' | translate}}</ion-button>
  <ion-button fill="outline" expand="block" (click)="goToGraphics()">{{'about.graficos' | translate}}</ion-button>

</ion-content>

