<ion-header>
  <ion-toolbar>
    <ion-title>
      {{'home.bienvenido' | translate}}    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">{{'home.logout' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Checkboxes in a List -->
  <ion-list>
    <ion-radio-group [(ngModel)]="radio">
      <ion-list-header>
        <ion-label>{{'home.rango' | translate}}
        </ion-label>
      </ion-list-header>

      <ion-item *ngFor="let e of rangeArray; index as i">
        <ion-label>{{e.min}} - {{e.max}}</ion-label>
        <ion-radio slot="start" [value]="i"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>{{'home.personalizado' | translate}}</ion-label>
        <ion-radio slot="start" value="personalizado"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <div *ngIf="radio=='personalizado'">
    <ion-item lines="full">
      <ion-label  position="stacked">{{'home.menor' | translate}}</ion-label>
      <ion-input placeholder="0" type="number" [(ngModel)]="range.min"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label  position="stacked">{{'home.mayor' | translate}}</ion-label>
      <ion-input placeholder="0" type="number" [(ngModel)]="range.max"></ion-input>
    </ion-item>
  </div>

  
  <ion-item lines="full">
    <ion-label position="stacked">{{'home.numero_rango' | translate}}</ion-label>
    <ion-input placeholder="0" type="number" [(ngModel)]="userInput" (ionChange)="checkInteger(userInput)"></ion-input>
  </ion-item>




  <!-- <button (click)="verPuntos()">Ver puntos</button> -->
  <ion-button expand="block" fill="solid" type="round" color="secondary" size="large" (click)="play()"
    style="margin-top:20px">{{'home.jugar' | translate}}</ion-button>
 


</ion-content>