<!-- <ion-header>
  <ion-toolbar>
    <ion-title>

    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>Bienvenido al Suertodo!

    <!-- Checkboxes in a List -->
    <ion-list>
      <ion-radio-group [(ngModel)]="radio">
        <ion-list-header>
          <ion-label>Elige un rango:
          </ion-label>
        </ion-list-header>
    
        <ion-item *ngFor="let e of rangeArray; index as i">
          <ion-label>{{e.min}} - {{e.max}}</ion-label>
          <ion-radio slot="start" [value]="i" ></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>Rango Personalizado</ion-label>
            <ion-radio slot="start" value="personalizado" ></ion-radio>
          </ion-item>
      </ion-radio-group>
    </ion-list>

  <div *ngIf="radio=='personalizado'">
      <ion-item lines="full">
          <ion-label position="floating">Decime el numero menor de tu rango:</ion-label>
          <ion-input type="number" [(ngModel)]="range.min"></ion-input>
        </ion-item>
      
        <ion-item lines="full">
          <ion-label position="floating">Decime el numero mayor de tu rango:</ion-label>
          <ion-input type="number" [(ngModel)]="range.max"></ion-input>
         </ion-item> 
  </div>
ionic 

   <ion-item lines="full">
     <ion-label position="floating">Elegi un numero en ese Rango!</ion-label>
     <ion-input type="number" [(ngModel)]="userInput" (ionChange)="checkInteger(userInput)"></ion-input>
    </ion-item>



   <ion-button expand="block" fill="solid" type = "round" color = "secondary" size = "large" (click)="play()" style="margin-top:20px">Jugar!</ion-button>



</ion-content>
