<ion-header>
  <ion-toolbar>
    <ion-title>Registrate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Nombre de usuario</ion-label>
    <ion-input [(ngModel)]="userInput.username"></ion-input>
  </ion-item>
    <ion-item>
        <ion-label>Ingresa tu Email</ion-label>
        <ion-input [(ngModel)]="userInput.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Ingresa tu Contraseña</ion-label>
        <ion-input [(ngModel)]="userInput.password"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>Confirma tu Contraseña</ion-label>
          <ion-input [(ngModel)]="userInput.passwordConfirm"></ion-input>
        </ion-item>
  <ion-button expand="block" style="margin-top:30px" (click)="register()">Registrarme</ion-button>
      
  <ion-button (click)="goToLogin()">Volver</ion-button>


</ion-content>
